.listgame {
    margin-top: 30px;

    h4 {
        font-weight: 600;
        color: rgb(29, 27, 27);
        font-size: 1.4rem;
    }

    .breadcrumb {
        background-color: #fff;

        a {
            text-decoration: none;
            color: rgb(29, 27, 27);
            &:hover {
                color: #FF5D6A;
            }
        }
    }
}