.game-wrapper{
    width: 1000px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(207, 192, 192);
    z-index: 10000;

    .game-control{
        height: 50px;
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;

        a{
            padding: 20px;
        }

        .game-status{
            width: 500px;
            border: 2px solid rgb(179, 177, 177);
            height: 25px;
            margin: 0 auto;
            border-radius: 20px;
            position: relative;
            background-color: rgb(233, 230, 230);

            .ball {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-image: url(https://content.dragonlearn.in/fp/97/fat_player/components/progress/beads/v1/img/bead-874cc643b18fbe33aacee82d8f4353eec013afca7486232ce8e36adbbae9eeb6.png);
                background-repeat: no-repeat;
                position: absolute;
            }
        }

        
    }

    .game-main {
        h2{
            padding: 20px 0;
        }

        img {
            margin-right: 100px;
        }

        input{
            width: 40px;
            height: 30px;
            border-radius: 3px;
            border: 1px solid blueviolet;
            font-size: 1.2rem;
            text-align: center;
        }

        .underline {
            font-weight: 700;
        }

        button {
            margin-top: 100px;
            width: 80px;
            font-size: 1.2rem;
        }
    }
}