.sidebar {
    margin-top: 30px;
    width: 100%;
    position: relative;

    .direction {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 20px 0;
        .back-icon {
            color: #fff;
            background-color: #FF5D6A;
            border-radius: 50%;
            height: 24px;
            width: 24px;
        }
        span {
            font-weight: 600;
            color: gray;
            margin-left: 10px;
            font-size: 1rem;
        }

        &:hover{
            color: #FF5D6A;
            span {
                color: #FF5D6A;
            }
        }
    }

    .list-group {
        box-shadow: 0 0 10px gray;
        border-radius: 0.4rem;
        .list-group-item:first-child {
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
        }
        .list-group-item {
            position: relative;
            display: block;
            padding: 0.75rem 1.25rem;
            color: rgb(29, 27, 27);
            font-weight: 600;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.125);

            &:hover {
                color: #FF5D6A;
            }
        }
        .active {
            background-color: #61b9f0;
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}

